{% if tournament.get_state_string == "INACTIVE" %}
{% if players %}

<div class="mt-3 players-container table-responsive" id="id_players_container">
  <table class="table">
  <thead>
    <tr>
      <th scope="col player-col">Player</th>
      <th scope="col player-col">Status</th>
      {% if request.user == tournament.admin %}
      <th scope="col player-col">Action</th>
      {% else %}
      <th scope="col player-col"></th>
      {% endif %}
    </tr>
  </thead>
  <tbody>

      {% for player in players %}
      <tr>
        <td scope="row" class="player-row">{{player.user.username}}</td>
        <td class="player-row">Joined</td>
        <td class="player-row">
          {% if request.user == tournament.admin and player.user != tournament.admin %}
          <button class="btn btn-danger player-action-button btn-sm" data-bs-toggle="modal" data-bs-target="#id_remove_modal_{{player.user.id}}">Remove</button>
          {% elif request.user != tournament.admin and request.user == player.user %}
          <a hx-post="{% url 'tournament:remove_player' user_id=player.user.id tournament_id=player.tournament.id %}" hx-target="#body_container" hx-swap="innerHTML" class="btn btn-danger btn-sm player-action-button">Leave</a>
          {% elif request.user == tournament.admin and request.user == player.user %}
          <span style="font-weight: bold;">admin</span>
          {% endif %}
        </td>
      </tr>

      <!-- Removal Modals (one for each player) -->
      {% include 'tournament/snippets/player_remove_modal.html' with players=players %}

      {% endfor %}
  </tbody>
</table>
</div>
{% endif %}
{% else %}
<p>Invalid state: {{tournament.get_state_string}}</p>
{% endif %}

<style type="text/css">
  @media only screen and (max-width: 500px) {
    .players-container {
      padding: 8px;
      background-color: #f2f2f2;
      border-radius: 8px;
    }

    .player-action-button {
      font-size: 12px;
    }

    .player-col {
      font-size: 12px;
    }

    .player-row {
      font-size: 12px;
      max-width: 150px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-align: left;
      vertical-align: middle;
    }
  }

  @media only screen and (min-width: 501px) {
    .players-container {
      padding: 16px;
      background-color: #f2f2f2;
      border-radius: 8px;
    }

    .player-col {
      font-size: 16px;
    }

    .player-row {
      font-size: 16px;
      max-width: 380px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-align: left;
      vertical-align: middle;
    }
  }
</style>







