{% load tournament_extras %}
{% load humanize %}


<div class="d-none" id="id_not_enough_data">
	{% include 'tournament_analytics/snippets/participate_in_more_tournaments_warning.html' %}
</div>

<!-- Loading spinner to show before charts finished sizing and rendering -->
<div class="overlay" id="id_tournament_complete_spinner">
	<div class="d-flex justify-content-center">
		<div class="spinner-border" style="width: 70px; height: 70px;" role="status">
			<span class="visually-hidden">Loading...</span>
		</div>
	</div>
</div>

<div class="parent-chart-container d-none" id="id_charts_container">

	<div class="tournament-analytics" id="id_tournament_analytics_title">
		<div class="d-flex flex-column chart-errors d-none" id="id_errors_container">
			<div class="text-danger" id="id_error_title"></div>
			<div class="text-danger" id="id_error_message"></div>
		</div>
	</div>

	<div class="first-charts-container" id="id_first_charts_container">
		<div class="net-earnings-vs-losses-container">
			<canvas id="netEarningsVsLossesChartId"></canvas>
		</div>
		<div class="mb-4" id="id_chart_spacing"></div>
		<div class="tournament-player-results-container">
			<canvas id="tournamentPlayerResultsChartId"></canvas>
		</div>
	</div>

	<div class="mb-4" id="id_chart_spacing"></div>

	<div class="second-charts-container" id="id_second_charts_container">
		<div class="eliminations-and-rebuys-container" >
			<canvas id="eliminationsAndRebuysChartId"></canvas>
		</div>
		<div class="mb-4" id="id_chart_spacing"></div>
		<div class="eliminations-container">
			<canvas id="eliminationsChartId"></canvas>
		</div>
	</div>

</div>

{% if tournament_groups %}
<div class="container">
	<div class="row">
		<!-- Tournament Groups-->
		<div class="tournament-groups" id="id_tournament_groups_container">
			<h2>More Insights</h2>
			<hr>
			<p>View the analytics of the TournamentGroup's you're a part of.</p>
			{% include 'tournament_group/snippets/tournament_groups_list_snippet.html' with tournament_groups=tournament_groups %}
		</div>
	</div>
</div>
{% endif %}


<!-- Hidden field with combined analytics fetch url -->
<input class="d-none" id="id_hidden_fetch_all_analytics_url" value="{% url 'tournament_analytics:fetch_all_analytics_data' user_id=request.user.id %}">

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!-- Common -->
<script type="text/javascript">
	// The Charts
	var netEarningsVsLossesChart = null
	var eliminationsAndRebuysChart = null;
	var tournamentPlayerResultsChart = null;
	var eliminationsChart = null;

	/**
	 * Every 200 ms check if the charts are all finished loading. If they are, hide the progress bar and show them.
	 * */
	const chartLoadingCheckInterval = setInterval(() => areChartsFinishedLoading(), 200)

	function areChartsFinishedLoading() {
		if (netEarningsVsLossesChart != null && eliminationsAndRebuysChart != null && tournamentPlayerResultsChart != null && eliminationsChart != null) {
			clearInterval(chartLoadingCheckInterval);
			onFinishedLoadingCharts()
			setChartPositions()
		}
	}

	const primary = "#0275d8"
	const green = "#5cb85c"
	const red = "#d9534f"
	const black = "#292b2c"

	// Height / Width
	const chartAspectRatio = .7;

	// The point at which the chart size will become constant.
	const windowWidthInflectionPoint = 700;

	const chartPaddingSmall = 16;

	function setTournamentTotalsChartSize() {
		const windowHeight = window.innerHeight;
		const windowWidth = window.innerWidth;
		if (windowWidth <= windowWidthInflectionPoint) {
			const chartWidth = (windowWidth - (2 * chartPaddingSmall))
			netEarningsVsLossesChart.canvas.parentNode.style.width = chartWidth + "px";
			netEarningsVsLossesChart.canvas.parentNode.style.height = (chartWidth * chartAspectRatio) + "px"
		} else {
			// Set constant width of 700px - padding if the window is bigger than 700px
			const chartWidth = (700 - (2 * chartPaddingSmall))
			netEarningsVsLossesChart.canvas.parentNode.style.width = chartWidth + "px";
			netEarningsVsLossesChart.canvas.parentNode.style.height = (chartWidth * chartAspectRatio) + "px"
		}
	}

	function setEliminationsAndRebuysSize() {
		const windowHeight = window.innerHeight;
		const windowWidth = window.innerWidth;
		if (windowWidth <= windowWidthInflectionPoint) {
			const chartWidth = (windowWidth - (2 * chartPaddingSmall))
			eliminationsAndRebuysChart.canvas.parentNode.style.width = chartWidth + "px";
			eliminationsAndRebuysChart.canvas.parentNode.style.height = (chartWidth * chartAspectRatio) + "px"
		} else {
			// Set constant width of 700px - padding if the window is bigger than 700px
			const chartWidth = (700 - (2 * chartPaddingSmall))
			eliminationsAndRebuysChart.canvas.parentNode.style.width = chartWidth + "px";
			eliminationsAndRebuysChart.canvas.parentNode.style.height = (chartWidth * chartAspectRatio) + "px"
		}
	}

	function setTournamentPlayerResultsSize() {
		const windowHeight = window.innerHeight;
		const windowWidth = window.innerWidth;
		if (windowWidth <= windowWidthInflectionPoint) {
			const chartWidth = (windowWidth - (2 * chartPaddingSmall))
			tournamentPlayerResultsChart.canvas.parentNode.style.width = chartWidth + "px";
			tournamentPlayerResultsChart.canvas.parentNode.style.height = (chartWidth * chartAspectRatio) + "px"
		} else {
			// Set constant width of 700px - padding if the window is bigger than 700px
			const chartWidth = (700 - (2 * chartPaddingSmall))
			tournamentPlayerResultsChart.canvas.parentNode.style.width = chartWidth + "px";
			tournamentPlayerResultsChart.canvas.parentNode.style.height = (chartWidth * chartAspectRatio) + "px"
		}
	}

	function setEliminationsChartSize() {
		const windowHeight = window.innerHeight;
		const windowWidth = window.innerWidth;
		if (windowWidth <= windowWidthInflectionPoint) {
			const chartWidth = (windowWidth - (2 * chartPaddingSmall))
			eliminationsChart.canvas.parentNode.style.width = chartWidth + "px";
			eliminationsChart.canvas.parentNode.style.height = (chartWidth * chartAspectRatio) + "px"
		} else {
			// Set constant width of 700px - padding if the window is bigger than 700px
			const chartWidth = (700 - (2 * chartPaddingSmall))
			eliminationsChart.canvas.parentNode.style.width = chartWidth + "px";
			eliminationsChart.canvas.parentNode.style.height = (chartWidth * chartAspectRatio) + "px"
		}
	}

	function setChartPositions() {
		var net_earnings_vs_losses_container = $('.net-earnings-vs-losses-container');
		$('.eliminations-and-rebuys-container').offset({
			left: net_earnings_vs_losses_container.offset().left
		});

		// align the title
		$('.tournament-analytics').offset({
			left: net_earnings_vs_losses_container.offset().left,
		});
		const netEarningsVsLossesWidth = $('.net-earnings-vs-losses-container').width()
		const tournamentPlayerResultsWidth = $('.tournament-player-results-container').width()
		const spaceBetween = $('.tournament-player-results-container').offset().left - ($('.net-earnings-vs-losses-container').offset().left + netEarningsVsLossesWidth)

		document.getElementById("id_tournament_analytics_title").style.width = netEarningsVsLossesWidth + tournamentPlayerResultsWidth + spaceBetween + "px"

		// align TournamentGroups section
		$('.tournament-groups').offset({
			left: net_earnings_vs_losses_container.offset().left,
		});
		document.getElementById("id_tournament_groups_container").style.width = netEarningsVsLossesWidth + tournamentPlayerResultsWidth + spaceBetween + "px"

		var tournament_player_results_container = $('.tournament-player-results-container');
		$('.eliminations-container').offset({
			left: tournament_player_results_container.offset().left
		});
	}

	window.onresize = function() {
		const windowHeight = window.innerHeight;
		const windowWidth = window.innerWidth;
		if (windowWidth <= windowWidthInflectionPoint) {
			const chartWidth = (windowWidth - (2 * chartPaddingSmall))
			netEarningsVsLossesChart.canvas.parentNode.style.width = chartWidth + "px";
			netEarningsVsLossesChart.canvas.parentNode.style.height = (chartWidth * chartAspectRatio) + "px"

			eliminationsAndRebuysChart.canvas.parentNode.style.width = chartWidth + "px";
			eliminationsAndRebuysChart.canvas.parentNode.style.height = (chartWidth * chartAspectRatio) + "px"

			tournamentPlayerResultsChart.canvas.parentNode.style.width = chartWidth + "px";
			tournamentPlayerResultsChart.canvas.parentNode.style.height = (chartWidth * chartAspectRatio) + "px"

			eliminationsChart.canvas.parentNode.style.width = chartWidth + "px";
			eliminationsChart.canvas.parentNode.style.height = (chartWidth * chartAspectRatio) + "px"
		}

		setChartPositions()
	}

	function onFinishedLoadingCharts(){
		document.getElementById("id_charts_container").classList.remove("d-none")
		document.getElementById("id_tournament_complete_spinner").classList.add("d-none")
		document.getElementById("id_charts_container").classList.add("fade-in-container")
		document.getElementById("id_charts_container").style.opacity = 1
	}

	function showNotEnoughDataWarning() {
		document.getElementById("id_not_enough_data").classList.remove("d-none")
		document.getElementById("id_tournament_complete_spinner").classList.add("d-none")
	}

	function onError(title, message) {
		document.getElementById("id_errors_container").classList.remove("d-none")
		document.getElementById("id_error_title").innerHTML = title
		document.getElementById("id_error_message").innerHTML = message

		clearInterval(chartLoadingCheckInterval);
		document.getElementById("id_tournament_complete_spinner").classList.add("d-none")
	}

</script>

<!-- Combined analytics fetch -->
<script>
	function generateAllAnalyticsData() {
		const url = document.getElementById("id_hidden_fetch_all_analytics_url").value
		fetch(url)
			.then((response) => response.json())
			.then((data) => {
				if (data.error != null) {
					onError(data.error, data.message)
					return
				}
				processTournamentTotalsData(data)
				processRebuysAndEliminationsData(data)
				processTournamentPlayerResultData(data)
				processEliminationsData(data)
			}).catch((error) => {
				onError(error.name, error.message)
			});
	}

	generateAllAnalyticsData()
</script>

<!-- Net earnings and losses -->
<script>
	const netEarningsVsLossesContext = document.getElementById('netEarningsVsLossesChartId');
	var netEarningsAndLossesLabels = [];
	var net_earnings_data = []
	var losses_data = []
	var gross_earnings_data = []

	function processTournamentTotalsData(data) {
		netEarningsAndLossesLabels = [];
		net_earnings_data = []
		losses_data = []
		gross_earnings_data = []
		const json = JSON.parse(data.tournament_totals)
		for (var key in json) {
			var total_data = json[key]
			netEarningsAndLossesLabels.push(total_data.timestamp)
			net_earnings_data.push(total_data.net_earnings)
			losses_data.push(total_data.losses)
			gross_earnings_data.push(total_data.gross_earnings)
		}
		if (netEarningsAndLossesLabels.length > 1) {
			buildTournamentTotalsChart()
		} else {
			showNotEnoughDataWarning()
		}
	}

	function buildTournamentTotalsChart() {
		const netEarningsAndLossesData = {
			labels: netEarningsAndLossesLabels,
			datasets: [
				{
					label: 'Net Earnings',
					data: net_earnings_data,
					borderColor: green,
					backgroundColor: green,
				},
				{
					label: 'Losses',
					data: losses_data,
					borderColor: red,
					backgroundColor: red,
				},
				{
					label: 'Gross Earnings',
					data: gross_earnings_data,
					borderColor: primary,
					backgroundColor: primary,
				}
			]
		};

		netEarningsVsLossesChart = new Chart(netEarningsVsLossesContext, {
			type: 'line',
			data: netEarningsAndLossesData,
			options: {
				maintainAspectRatio: false,
				responsive: true,
				plugins: {
					legend: {
						position: 'top',
					},
					title: {
						display: true,
						text: 'Net Earnings, Gross Earnings and Losses of all Tournaments played'
					},
					tooltip: {
						callbacks: {
							label: function(context) {
								let label = context.dataset.label || '';

								if (label) {
									label += ': ';
								}
								if (context.parsed.y !== null) {
									label += new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(context.parsed.y);
								}
								return label;
							}
						},
					}
				},
				scales: {
					y: {
						ticks: {
							callback: function(value, index, ticks) {
								return '$' + value;
							}
						},
					},
				},
			}
		});

		setTournamentTotalsChartSize()
	}

</script>

<!-- Eliminations and rebuys -->
<script type="text/javascript">
	const eliminationsAndRebuysContext = document.getElementById('eliminationsAndRebuysChartId');
	var eliminationsAndRebuysLabels = [];
	var eliminations_data = []
	var rebuys_data = []

	function processRebuysAndEliminationsData(data) {
		eliminationsAndRebuysLabels = []
		eliminations_data = []
		rebuys_data = []
		const json = JSON.parse(data.rebuys_and_eliminations)
		for (var key in json) {
			eliminationsAndRebuysLabels.push(json[key].completed_at)
			eliminations_data.push(json[key].eliminations)
			rebuys_data.push(json[key].rebuys)
		}
		buildRebuysAndEliminationsChart()
	}

	function buildRebuysAndEliminationsChart() {
		const eliminationsAndRebuysData = {
			labels: eliminationsAndRebuysLabels,
			datasets: [
				{
					label: 'Eliminations',
					data: eliminations_data,
					borderColor: black,
					backgroundColor: black,
				},
				{
					label: 'Rebuys',
					data: rebuys_data,
					borderColor: red,
					backgroundColor: red,
				},
			]
		};

		eliminationsAndRebuysChart = new Chart(eliminationsAndRebuysContext, {
			type: 'bar',
			data: eliminationsAndRebuysData,
			options: {
				maintainAspectRatio: false,
				responsive: true,
				plugins: {
					legend: {
						position: 'top',
					},
					title: {
						display: true,
						text: 'Eliminations and Rebuys'
					},
			},
		  }
		});

		setEliminationsAndRebuysSize()
	}
</script>


<!-- TournamentPlayerResults chart -->
<script type="text/javascript">
	const tournamentPlayerResultsContext = document.getElementById('tournamentPlayerResultsChartId');
	var rawTournamentPlayerResultLabels = []
	var tournamentPlayerResultCompletedAtDates = []
	var tournamentPlayerResultsLabels = [];
	var tournament_placements_data = []
	var tournament_net_earnings_data = []
	var tournament_gross_earnings_data = []
	var tournament_losses_data = []
	var tournament_result_eliminations_data = []
	var tournament_result_rebuys_data = []

	// Need to track the mouse position to display title tooltips.
	var mouseX = 0;
	var mouseY = 0;

	function processTournamentPlayerResultData(data) {
		rawTournamentPlayerResultLabels = []
		tournamentPlayerResultCompletedAtDates = []
		tournamentPlayerResultsLabels = [];
		tournament_placements_data = []
		tournament_net_earnings_data = []
		tournament_gross_earnings_data = []
		tournament_losses_data = []
		tournament_result_eliminations_data = []
		tournament_result_rebuys_data = []

		const json = JSON.parse(data.tournament_player_results)
		var counter = 0
		for (var key in json) {
			var result_data = json[key]
			tournamentPlayerResultCompletedAtDates.push(result_data.completed_at)
			tournamentPlayerResultsLabels.push("T" + counter)
			rawTournamentPlayerResultLabels.push(result_data.tournament_title)
			tournament_placements_data.push(result_data.placement)
			tournament_net_earnings_data.push(result_data.net_earnings)
			tournament_gross_earnings_data.push(result_data.gross_earnings)
			tournament_losses_data.push(result_data.losses)
			tournament_result_eliminations_data.push(result_data.eliminations)
			tournament_result_rebuys_data.push(result_data.rebuys)
			counter += 1;
		}
		buildTournamentPlayerResultChart()
	}

	function buildTournamentPlayerResultChart() {
		const tournamentPlayerResultsData = {
			labels: tournamentPlayerResultsLabels,
			datasets: [
				{
					label: 'Losses',
					data: tournament_losses_data,
					borderColor: red,
					backgroundColor: red,
				},
				{
					label: 'Gross Earnings',
					data: tournament_gross_earnings_data,
					borderColor: primary,
					backgroundColor: primary,
				},
				{
					label: 'Eliminations',
					data: tournament_result_eliminations_data,
					borderColor: black,
					backgroundColor: black,
				},
				{
					label: 'Net Earnings',
					data: tournament_net_earnings_data,
					borderColor: green,
					backgroundColor: green,
				},
			]
		};

		tournamentPlayerResultsChart = new Chart(tournamentPlayerResultsContext, {
			type: 'bar',
			data: tournamentPlayerResultsData,
			options: {
				maintainAspectRatio: false,
				responsive: true,
				plugins: {
					legend: {
						position: 'top',
					},
					title: {
						display: true,
						text: 'Tournament Results'
					},
					tooltip: {
						callbacks: {
							label: function(context) {
								let label = context.dataset.label || '';

								if (label) {
									label += ': ';
								}
								if (context.parsed.y !== null) {
									label += new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(context.parsed.y);
								}
								return label;
							},
							title: function(context) {
								let title = context[0].label
								let index = tournamentPlayerResultsLabels.indexOf(title)
								return rawTournamentPlayerResultLabels[index]
							}
						},
					}
				},
				scales: {
					y: {
						ticks: {
							callback: function(value, index, ticks) {
								return '$' + value;
							}
						},
					},
				},
			},
			plugins: [
				{
					id: 'customHover',
					afterEvent: (chart, event, opts) => {
						const evt = event.event;

						if (evt.type !== 'mousemove') {
							return;
						}

						const [found, label] = findLabel(getLabelHitboxes(tournamentPlayerResultsChart.scales), evt);

						// Find the actual tournament title from the raw labels
						if (found && tournamentPlayerResultsLabels.includes(label)) {
							var labelIndex = tournamentPlayerResultsLabels.indexOf(label)
							var tournamentTitle = rawTournamentPlayerResultLabels[labelIndex]
							var date = tournamentPlayerResultCompletedAtDates[labelIndex]
							showTooltip(chart, tournamentTitle, date)
						} else {
							hideTooltip(chart)
						}
					},
				},
			]
		});

		setTournamentPlayerResultsSize()
	}

	function hideTooltip(context) {
		let tooltipEl = document.getElementById('chartjs-tooltip');

		// Create element on first render
		if (!tooltipEl) {
			tooltipEl = document.createElement('div');
			tooltipEl.id = 'chartjs-tooltip';
			tooltipEl.innerHTML = '<table></table>';
			document.body.appendChild(tooltipEl);
		}
		tooltipEl.classList.add("d-none")
	}

	function showTooltip(context, label, completed_at){
		// Tooltip Element
		let tooltipEl = document.getElementById('chartjs-tooltip');

		// Create element on first render
		if (!tooltipEl) {
			tooltipEl = document.createElement('div');
			tooltipEl.id = 'chartjs-tooltip';
			tooltipEl.innerHTML = '<table></table>';
			document.body.appendChild(tooltipEl);
		}
		tooltipEl.classList.remove("d-none")

		const tooltipModel = context.tooltip;

		// Set caret Position
		tooltipEl.classList.remove('above', 'below', 'no-transform');
		if (tooltipModel.yAlign) {
			tooltipEl.classList.add(tooltipModel.yAlign);
		} else {
			tooltipEl.classList.add('no-transform');
		}

		// Set Text
		const titleLines = [label]
		const bodyLines = [completed_at];

		let innerHtml = '<thead>';

		titleLines.forEach(function(title) {
			innerHtml += '<tr><th>' + title + '</th></tr>';
		});
		innerHtml += '</thead><tbody>';

		bodyLines.forEach(function(body, i) {
			innerHtml += '<tr><td><span>' + body + '</span></td></tr>';
		});
		innerHtml += '</tbody>';

		let tableRoot = tooltipEl.querySelector('table');
		tableRoot.innerHTML = innerHtml;

		const position = context.canvas.getBoundingClientRect();

		const bodyFont = Chart.helpers.toFont(tooltipModel.options.bodyFont);

		// Display, position, and set styles for font
		tooltipEl.style.opacity = .75;
		tooltipEl.style.position = 'absolute';
		tooltipEl.style.left = mouseX + 'px';
		tooltipEl.style.top = mouseY + 'px';
		tooltipEl.style.font = bodyFont.string;
		tooltipEl.style.padding = '10px';
		tooltipEl.style.backgroundColor = '#000';
		tooltipEl.style.color = '#fff';
		tooltipEl.style.borderRadius = '8px';
		tooltipEl.style.pointerEvents = 'none';
	}

	const findLabel = (labels, evt) => {
		let found = false;
		let res = null;

		labels.forEach(l => {
			l.labels.forEach(label => {
				if (evt.x > label.x && evt.x < label.x2 && evt.y > label.y && evt.y < label.y2) {
				res = label.label;
				found = true;
				}
			});
		});

		return [found, res];
	};

	const getLabelHitboxes = (scales) => (Object.values(scales).map((s) => ({
		scaleId: s.id,
		labels: s._labelItems.map((labelItem, i) => ({
			x: labelItem.options.translation[0] - s._labelSizes.widths[i] / 2,
			x2: labelItem.options.translation[0] + s._labelSizes.widths[i] / 2,
			y: labelItem.options.translation[1] - s._labelSizes.heights[i],
			y2: labelItem.options.translation[1] + s._labelSizes.heights[i],
			label: labelItem.label,
			index: i
		}))
	})));

	function mouseCoordinates(event){
		mouseX = event.clientX + window.pageXOffset;
		mouseY = event.clientY + window.pageYOffset;
	}

	document.onmousemove = mouseCoordinates;
</script>


<!-- Player eliminations count -->
<script type="text/javascript">
	const eliminationsContext = document.getElementById('eliminationsChartId');
	var username_small_data = []
	var usernames_data = []
	var elimination_count_data = []
	var elimination_colors_data = []

	function processEliminationsData(data) {
		username_small_data = []
		usernames_data = []
		elimination_count_data = []
		elimination_colors_data = []
		const json = JSON.parse(data.eliminations)
		for (var key in json) {
			username_small_data.push(json[key].short_username)
			usernames_data.push(json[key].username)
			elimination_count_data.push(json[key].count)
			elimination_colors_data.push(json[key].color)
		}
		buildEliminationsChart()
	}

	function buildEliminationsChart() {
		const eliminationsData = {
			labels: username_small_data,
			datasets: [
				{
					label: 'Elimination count',
					data: elimination_count_data,
					backgroundColor: elimination_colors_data,
				},
			],
		};

		eliminationsChart = new Chart(eliminationsContext, {
			type: 'bar',
			data: eliminationsData,
			options: {
				indexAxis: 'y',
				maintainAspectRatio: false,
				responsive: true,
				plugins: {
					legend: {
						display: false,
					},
					title: {
						display: true,
						text: 'Eliminations'
					},
					tooltip: {
						callbacks: {
							title: function(context) {
								let title = context[0].label
								let index = username_small_data.indexOf(title)
								return usernames_data[index]
							}
						},
					}
				},
			}
		});

		setEliminationsChartSize()
	}
</script>

<style type="text/css">

	.fade-in-container {
		animation: fadeIn 0.5s;
	}

	@keyframes fadeIn {
		0% { opacity: 0; }
		100% { opacity: 1; }
	}

	.parent-chart-container {
		opacity: 0;
	}

	.net-earnings-vs-losses-container {
		margin:auto;
		border-radius: 8px;
		border: 1px solid #c3c3c3;
		padding: 16px;
	}

	.eliminations-and-rebuys-container {
		border-radius: 8px;
		border: 1px solid #c3c3c3;
		padding: 16px;
	}

	.tournament-player-results-container {
		margin:auto;
		border-radius: 8px;
		border: 1px solid #c3c3c3;
		padding: 16px;
	}

	.eliminations-container {
		margin:auto;
		border-radius: 8px;
		border: 1px solid #c3c3c3;
		padding: 16px;
	}

	.first-charts-container {
		margin:auto;
	}

	.second-charts-container {
		margin:auto;
	}

	.tournament-analytics {
		margin-top: 16px;
		margin-bottom: 16px;
	}

	.tournament-groups {
		margin-top: 24px;
		margin-bottom: 16px;
	}

	@media only screen and (min-width: 1400px) {
		.first-charts-container {
			display: flex;
			direction: column;
		}
		.second-charts-container {
			display: flex;
			direction: column;
		}
	}

</style>




















