<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">PokerStats</a>
    {% if request.user.is_authenticated %}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'tournament:tournament_list' %}">Tournaments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'user:profile' pk=request.user.pk %}">Profile</a>
        </li>
        {% if request.user.is_staff %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'invite:manage' %}">Invites</a>
        </li>
        {% endif %}
      </ul>
      <span class="navbar-text">
        <a class="nav-link" href="{% url 'account_logout' %}">logout</a>
      </span>
    </div>
    {% endif %}
  </div>
</nav>
