{% extends "base.html" %}

{% block head_title %}Tournaments{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="offset-md-1 col-md-10">

      <!-- My Tournaments (is admin) -->
      <h2>My Tournaments</h2>
      <hr>
      <div class="tournament-list-group">
        {% if tournaments %}
          <p>These are Tournaments that you're the admin of.</p>
          {% include 'tournament/snippets/tournaments_list_snippet.html' with tournaments=tournaments %}
        {% else %}
          <p>There are no Tournaments that you're the admin of.</p>
        {% endif %}
        <div class="d-flex flex-row mt-3">
          <a class="btn btn-primary action-button" href="{% url 'tournament:create_tournament' %}">Create Tournament</a>
        </div>
      </div>

      <!-- Tournaments they've joined (not admin) -->
      {% if joined_tournaments %}
      <h2>Joined Tournaments</h2>
      <hr>
      <div class="tournament-list-group">
        <p>These are Tournaments that you've joined.</p>
        {% include 'tournament/snippets/tournaments_list_snippet.html' with tournaments=joined_tournaments %}
      </div>
      {% endif %}

	 </div>
  </div>
</div>

<script src="https://unpkg.com/htmx.org@1.8.5"></script>

<style type="text/css">
  hr {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  @media only screen and (max-width: 500px) {
    .tournament-list-group {
      margin-bottom: 28px;
      font-size: 12px;
    }

    .action-button {
      font-size: 13px;
    }
  }

  @media only screen and (min-width: 501px) {
    .tournament-list-group {
      padding-left: 16px;
      padding-right: 16px;
      margin-bottom: 28px;
      font-size: 16px;
    }
  }
</style>

{% endblock content %}














